<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HomePage</title>
<link rel="stylesheet" type="text/css" href="styles/homepage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    {{!-- // this is Homepage //  --}}
    <header class="header">
        <nav>
            <ul>
                <li><a href="SignupPage.hbs" class="button">Sign Up</a></li>
                <li><a href="LoginPage.hbs" class="button">Login</a></li>
                <li id="profile-link"><a href="profile.hbs" class="button">Welcome {{name}}</a></li>
            </ul>
        </nav>
    </header>
    <center>
        <div class="swu">
            <h1 class="header-left">SWU Table Hunter</h1>
            <br>
            <div class="header-right">
                <a href="rongron.hbs" class="button">Book a Table</a> 
            <br><br><br>
                <a href="Endpoint.hbs" class="button">My Booking</a>
            </div>
        </div>
</center>
</body>
</html>
