<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="styles/homepage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
    <nav>
        <ul>
            <li>
                <form action="/logout" method="GET">
                    <button type="submit" class="logout">Logout</button>
                </form>
            </li>
            <li><a href="HomePage.hbs" class="button">Home</a></li>
        </ul>
    </nav>
</header>
</body>
</html>