
body {
    font-family: 'Mitr', sans-serif;
    background-color: #e1dddd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #e1dddd; /* เปลี่ยนสีพื้นหลังเป็น #e1dddd */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 10px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
}

.other-options {
    margin-top: 10px;
}

.other-options p {
    margin: 10;
    margin-left: 20px;
}

.other-options a.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #ff443a;
    border-radius: 30px;
}

.other-options button.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #ff443a;
    border-radius: 30px;
    font-family: 'Mitr', sans-serif;
    border: none;
    font-size: 16px;
}

.alert {
    text-align: center;
    color: red;
    font-size: 20px;
}
