<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #f2f2f2;
            width: 200px;
            height: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -200px;
            margin-left: -350px;
            font-family: 'Mitr', sans-serif;
        }
        

        .button {
            background-color: #ff443a;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 60px;
        }

        .endbutton {
            width: 300px;
            padding-top: 20px;
            padding-left: 250px;
        }

        .container {
            width: 700px;
            margin: auto;
            padding: 20px;
        }

        img {
            width: 200px;
            padding-top: 100px;
        }

        .text {
            padding-left: 80px;
        }


    </style>
</head>

<body>

<div class="container">
   <table>
    <tr><td rowspan="5">
        <img src="table.png">
    </td></tr>
        <tr><td>
        <h1 class="text">
            Confirm Page
        </h1>
    </td></tr>
    <tr><td>
        <p class="text">
            Location: 
        </p>
    </td></tr>
    <tr><td>
        <p class="text">
            Seat(s): 
        </p>
    </td></tr>
    <tr><td>
        <p class="text">
            Time: 
        </p>
    </td></tr>
    </div>
   </table>
</div>

    <div class="endbutton">
        <a href="Endpoint.hbs" class="button">Confirm</a>
        <a href="rongron.hbs" class="button">Cancel</a>
    </div>

    {{!-- 1234 --}}
    
</body>

</html>
