<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>About me</title>
    </head>

    <body style="background-color: #dcd9d4; color: #69443C;">
        <center>
            <h1>About me</h1>
            <img src="./IMG_9700.JPG" alt="My picture" style="width:300px;height:400px;">
            <br>
            <p>นางสาวณัฐนรี ศุขทัตน์ (เนิร์ด) รหัส65102010415 คณะวิทยาศาสตร์ สาขาวิทยาการคอมพิวเตอร์ มหาวิทยาลัยศรีนครินทรวิโรฒ</p>
            <p>เกิดวันที่ 9 พฤษภาคม 2547 ราศีเมษ กรุ๊ปเลือดB</p>
            <br>
            <h3>Favorite list</h3>
            <p>Youtuber:&nbsp<a href="https://www.youtube.com/@HEARTROCK" target="_blank" style="color: #69443C;">Heartrocker</a></p>
            <p>Movie:&nbsp<a href="https://www.netflix.com/browse" target="_top" style="color: #69443C;">Netflix</a></p>
            <p>Game:&nbsp<a href="https://genshin.hoyoverse.com/en/" target="_self" style="color: #69443C;">Genshin impact</a></p>
        </center>
    </body>
</html>