<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Rong Yen Floor 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<style>
    @media (max-width: 768px) {
        .table {
            width: 90%; /* ปรับขนาดตารางให้เต็มรอบหน้าจอ */
        }
    }
    html, body {
        overflow: hidden; /* ป้องกันการเกิด scrollbar ทั้งหมดในหน้าเว็บ */
        height: 100%; /* ให้ขนาดสูงสุดของหน้าเว็บเท่ากับขนาดหน้าจอ */
    }
    .store {
        width: 1000px;
        height: 20px;
        background-color: #9f886f;
        padding: 10px;
        margin: 10px;
    }
    .door1 {
        width: 100px;
        height: 20px;
        font-family: 'Mitr', sans-serif;
        background-color: #9f886f;
        padding: 10px;
        margin: 10px;
        float: left;
        transform-origin: left;
        text-align: center;
    }
    .door2 {
        width: 50px;
        height: 20px;
        font-family: 'Mitr', sans-serif;
        background-color: #9f886f;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    img{
        width:90px; 
    }
    table {
        padding: 0;
        margin: 0;
        border-collapse: collapse;
    }
    table td {
        padding-left: 20px;
        margin: 0;
    }
    .button table{
        transform: translateX(900px) translateY(-650px); 
        padding: 0px; 
        margin: 10px; 
        width: 70px;
        text-align: center;
    }
    a {
        text-decoration: none; /* ลบเส้นใต้ */
        color: inherit; /* ใช้สีของข้อความเหมือนกับข้อความปกติ */
    }
</style>

<body style="background-color: #f2f2f2; font-family: 'Mitr', sans-serif;">
    <center>
        <div class="store">ร้านค้า</div>
        <div class="door1" style="transform: rotate(90deg) translateX(20px) translateY(-10px);">ประตู</div>
        <div class="door1" style="transform: rotate(-90deg) translateX(-140px) translateY(1730px);">ประตู</div>
        <div class="door1" style="transform: rotate(-90deg) translateX(-700px) translateY(1590px);">ประตู</div>
        <div class="table">
            <table style="transform: translateX(-910px) translateY(200px);">
                <tr>
                    <td><a href="" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
            </table>
        </div>

        <div class="table">
            <table style="transform: translateX(-400px) translateY(-155px);">
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
            </table>
        </div>

        <div class="table">
            <table style="transform: translateX(200px) translateY(-510px);">
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                </tr>
            </table>
        </div>

        <div class="table">
            <table style="transform: translateX(400px) translateY(-400px);">
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
            </table>
        </div>

        <div class="table">
            <table style="transform: translateX(900px) translateY(-1070px);">
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                </tr>
            </table>
        </div>

        <div class="table">
            <table style="border: 1px solid; transform: translateX(-674px) translateY(-1030px); width: 500px; height: 300px;">
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                    <td style="padding-top: 0px; margin-top: 0px;"><div class="door2">ประตู</div></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                </tr>
                <tr >
                    <td style="padding: 20px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="padding-bottom: 10px;"><div class="door2" style="transform: rotate(-90deg);">ประตู</div></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                    <td><a href="ConfirmPage.html" ><image src="table.png"></image></a></td>
                </tr>
            </table>
        </div>

        <div class="button">
            <table style="transform: scale(1.2) translateX(755px) translateY(-970px);">
                <tr style="border: 1px solid black; background-color: #6D5A47;">
                    <td style="text-align: center; padding-left: 0;"><a href="rongron.html">โรงร้อน</a></td>
                </tr>
                <tr style="border: 1px solid black; background-color: #6D5A47;">
                    <td style="text-align: center; padding-left: 0;"><a href="rongyen-1.html" >โรงเย็น-1</a></td>
                </tr>
                <tr style="border: 1px solid black; background-color: #C5B3A0;">
                    <td style="color: #ffff; text-align: center; padding-left: 0;"><a href="">โรงเย็น-2</a></td>
                </tr>
                <tr style="border: 1px solid black; background-color: #C5B3A0;">
                    <td style="text-align: center; padding-left: 0;"><a href="HomePage.html">หน้าหลัก</a></td>
                </tr>
            </table>
        </div>

    </center>
    
</body>
</html>