<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Rong Yen Floor 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<style>
    @media (min-width: 1025px) {
        .table {
            width: 90%; /* ปรับขนาดตารางให้เต็มรอบหน้าจอ */
        }
    }
    html, body {
        overflow: hidden; /* ป้องกันการเกิด scrollbar ทั้งหมดในหน้าเว็บ */
        height: 100%; /* ให้ขนาดสูงสุดของหน้าเว็บเท่ากับขนาดหน้าจอ */
    }
    .store {
        width: 1000px;
        height: 20px;
        background-color: #9f886f;
        padding: 10px;
    }
    .door1 {
        width: 100px;
        height: 20px;
        font-family: 'Mitr', sans-serif;
        background-color: #9f886f;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    .door2 {
        width: 50px;
        height: 20px;
        font-family: 'Mitr', sans-serif;
        background-color: #9f886f;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    img{
        width:80px; 
    }
    table {
        padding: 0;
        margin: 0;
        border-collapse: collapse;
    }
    table td {
        padding-left: 20px;
        margin: 0;
    }
    a {
        text-decoration: none; /* ลบเส้นใต้ */
        color: inherit; /* ใช้สีของข้อความเหมือนกับข้อความปกติ */
    }
    .button-container {
            position: fixed;
            bottom: 10px;
            right: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
    }

    .button {
            /* margin: 5px; */
            padding: 10px 20px;
            font-family: 'Mitr', sans-serif;
            color: white;
            cursor: pointer;
            font-size: 18px;
            height: 50px;
            width: 125px; 
            border: 1px solid black;
    }

    .button:nth-child(1) {
        background-color: #6D5A47;
        color: #fff; /* เลือกสีตัวอักษร */
    }

    /* ปุ่มที่สอง */
    .button:nth-child(2) {
        background-color: #6D5A47;
        color: #fff; /* เลือกสีตัวอักษร */
    }

    /* ปุ่มที่สาม */
    .button:nth-child(3) {
        background-color: #C5B3A0; 
        color: #000; /* เลือกสีตัวอักษร */
        font-size: 20px;
    }

    /* ปุ่มที่4 */
    .button:nth-child(4) {
        background-color: #6D5A47; 
        color: #fff; /* เลือกสีตัวอักษร */
    }
</style>

<body style="background-color: #f2f2f2; font-family: 'Mitr', sans-serif;">
    <center>
        <div class="store">ร้านค้า</div>
        <div class="door1" style="transform: rotate(90deg) translateX(70px) translateY(700px);">ประตู</div>
        <div class="door1" style="transform: rotate(-90deg) translateX(-20px) translateY(650px);">ประตู</div>
        <div class="door1" style="transform: rotate(-90deg) translateX(-450px) translateY(650px);">ประตู</div>
        <div class="table">
            <table style="transform: translateX(-620px) translateY(30px);">
                <tr>
                    <td><a href="" ><image src="table1.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="" ><image src="table1.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="" ><image src="table1.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
            </table>
        </div>

        <div class="table">
            <table style="transform: translateX(-300px) translateY(-285px);">
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
            </table>
        </div>

        <div class="table">
            <table style="transform: translateX(180px) translateY(-600px);">
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                </tr>
            </table>
        </div>

        <div class="table">
            <table style="transform: translateX(230px) translateY(-500px);">
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png" style="transform: rotate(90deg);"></image></a></td>
                </tr>
            </table>
        </div>

        <div class="table">
            <table style="transform: translateX(570px) translateY(-1130px);">
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                </tr>
            </table>
        </div>

        <div class="table">
            <table style="border: 1px solid; transform: translateX(-400px) translateY(-1130px); width: 500px; height: 300px;">
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                    <td style="padding-top: 0px; margin-top: 0px;"><div class="door2">ประตู</div></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                </tr>
                <tr >
                    <td style="padding: 20px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="padding-bottom: 10px;"><div class="door2" style="transform: rotate(-90deg);">ประตู</div></td>
                </tr>
                <tr>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                    <td><a href="ConfirmPage.hbs" ><image src="style/table1.png"></image></a></td>
                </tr>
            </table>
        </div>

        <div class="button-container">
            <button class="button" onclick="window.location.href='rongron.hbs'">โรงร้อน</button>
            <button class="button" onclick="window.location.href='rongyen-1.hbs'">โรงเย็น-1</button>
            <button class="button" onclick="window.location.href=''">โรงเย็น-2</button>
            <button class="button" onclick="window.location.href='HomePage.hbs'">หน้าหลัก</button>
        </div>

    </center>
    
</body>
</html>